<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="coamu">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>COAmu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bantuan">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Akunting</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="poshome">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>POS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="editprofile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Akun Ku</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>