<ion-header>
  <ion-toolbar>
    <ion-title>Ups.. something not work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center   *ngFor="let coa of coas">
    <div align="center">
        <ion-img src="/assets/images/avatar-poe.png"  style=" text-align: center; align-items: center; width:50%;" ></ion-img>  
    </div>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
        Kontak Administrator, mas Nanang, HP : 08 123 540 1617
    </ion-card-content>
  </ion-card>
</ion-content>
