<ion-header>
  <ion-toolbar>
    <ion-title>Resume</ion-title>
  </ion-toolbar>
  <ion-tabs>
      <ion-tab-bar slot="top" primary>
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Entri Jurnal</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="contacts"></ion-icon>
          <ion-label>Hutang Piutang</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Laporan</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
</ion-header>
<ion-content>




      
  <!-- List of Text Items -->
  <ion-list>

      <ion-item>
          <ion-avatar slot="start">
            
          </ion-avatar>
          <ion-label>
            <h2></h2>
            <p></p>
          </ion-label>
          <ion-label text-right>
             
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="/assets/images/avatar-poe.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><a  routerLink="/tabs/coacard/" >ASET</a></h2>
            <p>Aset</p>
          </ion-label>
          <ion-label text-right>
            5.000.000
          </ion-label>
        </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/images/kewajiban.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><a  routerLink="/tabs/coacard/" >Dikurangi Kewajiban</a></h2>
        <p>Hutang Pajak</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/images/equity.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><a  routerLink="/tabs/coacard/" >Ekuitas</a></h2>
        <p>Laba ditahan</p>
      </ion-label>
      <ion-label text-right>
        5.000.000
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/images/income.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><a  routerLink="/tabs/coacard/" >Income</a></h2>
        <p>Penjualan</p>
      </ion-label>
      <ion-label text-right>
        5.000.000
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/images/expenses.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><a  routerLink="/tabs/coacard/" >Dikurangi Expenses</a></h2>
        <p>Peralatan Kantor, Telepon</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/images/profit.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><a  routerLink="/tabs/coacard/" >Laba Bersih</a></h2>
        <p>Laba Bersih</p>
      </ion-label>
      <ion-label text-right>
        5.000.000
      </ion-label>
    </ion-item>


  </ion-list>


</ion-content>
